{% extends 'base.html' %}
{% block main %}
<table>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Type</th>
        <th>Tags</th>
    </tr>
    {% for recipe in recipes %}
    <tr class="{{ 'even_row' if loop.index is even else 'odd_row' }}">
        <td>{{ recipe.number }}</td>
        <td>{{ recipe.title }}</td>
        <td>{{ recipe.type }}</td>
        <td>{{ recipe.tags }}</td>
    </tr>
    {% endfor %}
</table>
<br />
<button type="button" class="create_button" onclick=simple_action("{{ url_for('create_recipe') }}")>Create</button>
<br />
<script type="text/javascript">
function simple_action(target) {
    window.location = target;
}
function confirmed_action(target) {
    if (confirm('Are you sure?')) {
        window.location = target;
    }
}
</script>
{% endblock %}
